.desktop-menu {
  display: none;
}

.desktop-menu .primary-links .bold {
  font-weight: bold;
}

.desktop-menu .primary-links .dropdown > button {
  background-color: transparent;

  display: flex;
  gap: 1ch;
}

@media screen and (min-width: 768px) {
  .desktop-menu {
    display: grid;
    grid-template-columns: 1fr 12fr;
  }

  .desktop-menu img {
    inline-size: 6rem;
    block-size: 6rem;

    aspect-ratio: 1 / 1;
  }

  .desktop-menu #button-ordernow {
    background-color: var(--primary, #ffbc0d);

    color: var(--secondary, #292929);

    padding: 0.5rem 0.75rem;

    border-radius: 0.25rem;
  }

  .desktop-menu .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .desktop-menu .secondary-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-menu ul {
    display: flex;
    align-items: baseline;
    column-gap: 1rem;
  }

  .desktop-menu ul li {
    min-inline-size: 5rem;

    font-size: small;
    cursor: pointer;
  }

  .desktop-menu .dropdown {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .desktop-menu img {
    inline-size: 8rem;
    block-size: 8rem;
  }

  .desktop-menu #button-ordernow {
    padding: 0.75rem 1.25rem;

    font-size: large;
  }

  .desktop-menu ul li {
    font-size: medium;

    min-inline-size: 6rem;
  }
}
