.menu-items a {
  color: black;

  inline-size: 60%;

  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.menu-items .img-wrapper {
  inline-size: 4rem;
  block-size: 4rem;

  aspect-ratio: 1 / 1;
}

.menu-items .img-wrapper img {
  inline-size: 100%;
}

@media screen and (min-width: 425px) {
  .menu-items a {
    inline-size: 50%;
  }

  .menu-items .img-wrapper {
    inline-size: 5rem;
    block-size: 5rem;
  }
}
